.paragraph{
	display: inline;
}

#title{
	font-size: 1.875rem;
	display: inline; 
	-webkit-animation: hue 6s infinite linear;
}

@-webkit-keyframes hue {
	 0%{
	 color: #1d4eff;
	 }
	 50% {
	 color: #feab3a;
	 }
	 100%{
	 color: #1d4eff;
	 }
}
div p{
	color: #1D4EFF;
}